* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    background-color: #f0de3b;
    height: 100vh;
  align-items: center;
  justify-content:center;
  display: flex;
}
.login h1 {
    text-align: center;
    color: #41448f;
    font-size: 90px;
    /* padding: 20px 0 20px 0; */
    /* border-bottom: 1px solid #dee0e4; */
}

img {
      display: block;
    margin-left: auto;
    margin-right: auto;
    height: 375px;
    width: 1100px
}

.login h2 {
    text-align: left;
    color: #41448f;
    font-size: 18px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    /* width: 310px; */
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 5%;
    height: 50px;
    /* padding: 15px;
    margin-top: 20px; */
    background-color: #3274d6;
    /* border: 0; */
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}




.bouncing-text {
  position: relative;
  display: flex;
  font-size: 60px;
  font-weight: 900;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
  /* height: 100vh; */
  align-items: center;
  justify-content:center;
}

.j, .u, .m, .p, .l, .i , .s, .t{
  position: relative;
  color: #4cc9f0;
  text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee;
}

.j {
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}

.u {
  animation: bounce 1s ease infinite .1s;
  -webkit-animation: bounce 1s ease infinite .1s;
}

.m {
  animation: bounce 1s ease infinite .2s;
  -webkit-animation: bounce 1s ease infinite .2s;
}

.p {
  animation: bounce 1s ease infinite .3s;
  -webkit-animation: bounce 1s ease infinite .3s;
}

.l {
  animation: bounce 1s ease infinite .4s;
  -webkit-animation: bounce 1s ease infinite .4s;
}

.i {
  animation: bounce 1s ease infinite .5s;
 -webkit-animation: bounce 1s ease infinite .5s;
}

.s {
  animation: bounce 1s ease infinite .6s;
 -webkit-animation: bounce 1s ease infinite .6s;
}

.t {
  animation: bounce 1s ease infinite .7s;
 -webkit-animation: bounce 1s ease infinite .7s;
}






 @keyframes bounce {
        0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px); }
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);}
    }

@-webkit-keyframes bounce {
       0%   { transform: scale(1,1) translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-55px);}
        50%  { transform: scale(1.05,.95) translateY(0); }
        58%  { transform: scale(1,1) translateY(-7px);}
        65%  { transform: scale(1,1) translateY(0);}
        100% { transform: scale(1,1) translateY(0);} 
}

